@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: center;     
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px; 
  padding: 40px 20px;
  /* background: #f9fafb;  */
}
